**1: Unique Words in a Sentence**

In [2]:
sentence = "python is easy and python is powerful"

words = sentence.split() # Split the sentence into words and use a set to find unique words.
unique_words = set(words)

print("Unique words count:", len(unique_words)) # Displays no.of unique words
print("Unique words:", unique_words) # Displays unique words found

Unique words count: 5
Unique words: {'powerful', 'and', 'easy', 'is', 'python'}

**2: Highest Salary from Employee Data**

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get) # Finds the employee with the highest salary.


print("Highest Salary:", highest_employee, "-", employees[highest_employee]) # Displays the employee with the highest salary.

Highest Salary: Ravi - 75000

**3: Find Maximum and Minimum Values**

In [4]:
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with the first element.

max_value = numbers[0]
min_value = numbers[0]

# Use a loop to compare and find maximum and minimum values.

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

**4: Count Products Above a Price Threshold**

In [5]:
prices = [450, 1200, 899, 1500, 300]
count = 0

# Iterate through product prices and count prices greater than 1000.
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count) #Displays the total count

Products above 1000: 2

**5: Calculate Attendance Percentage**

In [6]:
attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P") # Count the number of present days
total_days = len(attendance)

attendance_percentage = (present_count / total_days) * 100  # calculate attendance percentage.

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

**6: Remove Duplicate Phone Numbers**

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers) # Convert the list of phone numbers into a set to remove duplicates.

print("Unique phone numbers:", unique_numbers) # Display the unique phone numbers.

Unique phone numbers: {9876543210, 9123456789}

**7: Count Character Frequency**

In [8]:
text = "python"
char_count = {} # Use a dictionary to count the frequency of each character in the string.

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count) # Print the character count.

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**8: Convert List to Tuple**

In [9]:
data = [10, 20, 30]

data_tuple = tuple(data) # Convert the given list into a tuple using the tuple() function.

print("Tuple:", data_tuple) # Display the Tuple

Tuple: (10, 20, 30)

**9: Check if a Key Exists in a Dictionary**

In [10]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

if "Ravi" in employees:  # Check whether a specific key exists in the dictionary using 'in'.
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

**10: Calculate Average Marks**

In [11]:
marks = [70, 75, 80, 65]

average_marks = sum(marks) / len(marks) # Calculate the average by dividing total marks by no. of subjects

print("Average Marks:", average_marks)

Average Marks: 72.5